*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor:#BBE0EF;
    --text-color:#161E54;
    --btn-color:#F16D34;
}


body{
    height: 100vh;
    width: 100vw;
    background-image:radial-gradient(var(--bgcolor),#FF986A);
}

#para{
    text-align: center;
    margin:2rem ;
    font-size: 2.5rem;
    color: var(--text-color);
    text-shadow:1px 1px 1rem #F16D34;
}
#imoji{
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    margin: 1rem;
    animation: imoji 0.5s linear 1s  infinite alternate;

}
@keyframes imoji {
    0%{
        padding-top: 0rem;
    }
    100%{
        padding-top: 1rem;
    }
}
#btn{
margin-left: 47%;
margin-top: 1rem;
height: 3rem;
width: 7rem;
border-radius: 10px;
border: none;
background-color: var(--btn-color);
color: var(--text-color);
font-size: 1rem;
cursor: pointer;
}

#btn:hover{
    background-color: var(--bgcolor);
    color: var(--btn-color);
    box-shadow: 1px 1px 1rem var(--text-color);
    font-weight: bold;
    
}

 img{
    height:500px;
    width: 600px;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 1rem var(--text-color);
    display: none;
}

@media screen and (min:375px) {
    #para{
    
    text-align: center;
    font-size: 2rem;
    
}
 img{
    height:500px;
    width:250px;
    margin-left: 60px;
   
}

#btn{
margin-left: 38%;

}
}
